{% extends "admin/layout.twig" %}

{% block content %}
    <div class="card">
        <div class="card-header">
            Preencha os dados da nova categoria
        </div>
        <div class="card-body">
            {# IMPORTANTE: enctype para permitir upload de arquivos #}
            <form action="/admin/categorias" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome da Categoria</label>
                    <input type="text" class="form-control" id="nome" name="nome" required>
                </div>

                <div class="mb-3">
                    <label for="imagem" class="form-label">Imagem</label>
                    <input type="file" class="form-control" id="imagem" name="imagem">
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="1" id="status" name="status" checked>
                    <label class="form-check-label" for="status">
                        Ativo
                    </label>
                </div>
                
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="1" id="destaque" name="destaque">
                    <label class="form-check-label" for="destaque">
                        Destaque na Home
                    </label>
                </div>

                <a href="/admin/categorias" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </div>
{% endblock %}